{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All tasks

{% endblock %}


{% block content %}

    <h1>tasks...</h1>


    <article>

        <ul>
            {% for task in tasks %}

                <li class="task">

                    {{ task.priority }} 
                    
                    {{ task.name }}
                
                    {% if task.complete %} 
                        🗹 
                    {% else %} 
                        ☐ 
                    {% endif %}
                 
                </li>
                
            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Tasks</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="name of task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="5"
                placeholder="priority of task"
                required
            >

            <button>Add the Tasks</button>


        </form>

        <form action="delete" method="POST">
                  
                
            <input
                type="number"
                name="delete"
                min="0"
                max="5"
                placeholder="delete which task?"
                required
            >
            <button>Delete</button>
        
        
        </form>

    </article>

{% endblock %}




